.gha-header,
.gha-footer {
  background-image: linear-gradient(to bottom, #3a3a3a 0%, #1e1e1e 100%);
  border-color: #333;
  color: #c9d1d9;
}

.gha-feed {
  background-color: #161b22;
}

.gha-feed a {
  color: #388bfd;
}

.gha-header > .gha-github-icon,
.gha-header > .gha-user-info > a,
.gha-header > .gha-user-info > p > a {
  color: #c9d1d9;
}

.gha-activity {
  border-color: #333;
}

.gha-gravatar img {
  border: 3px solid #333;
  box-shadow: 0 0 0 #ccc;
}

.gha-message-merge {
  background: #242930;
}

.gha-feed small {
  color: #8b949e;
}
