a,
a.visited{
  text-decoration: none;  
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  white-space: nowrap;
  word-break: normal;
  background-image: linear-gradient(to right, rgba(55, 53, 47, 0.16) 0%, rgba(55, 53, 47, 0.16) 100%);
  background-repeat: repeat-x;
  background-position: 0px 100%;
  background-size: 100% 1px;
}

td a{
  text-decoration: none;
}