/* Global */

:root {
  /* Color */
  --color-white: #ddd;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #dddddd;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #ffcc00;
  --color-orange: #feb546;
  --color-black2: #222222;
  --color-black3: #333333;
  --color-black4: #444444;
  --color-dark-black: #2b2b2b;
  --color-dark-black2: #212121;
  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 5px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags*/
* {
  box-sizing: border-box;
}
/* Typography */

.section {
  padding: 50px;
  text-align: center;
  margin: auto;
  padding: 20px;
  background-color: var(--color-black4);
  color: var(--color-dark-grey);
}

.section_container {
  border-radius: 15px;
  max-width: 1200px;
  margin: 20px auto;
  width: 90%;
}

body {
  font-family: "Roboto Mono", monospace;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  cursor: default;
  background-color: var(--color-black3);
  margin: 0;
  text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
  box-shadow: inset 0 3px 30px rgb(0 0 0 / 30%);
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-dark-grey);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-grey);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
  margin: 4px 0;
}

a {
  text-decoration: none;
  /* 밑줄 없애기*/
  color: var(--color-yellow);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border: 2px solid var(--color-dark-black2);
  border-radius: var(--size-border-radius);
  padding: 8px 12px;
  cursor: pointer;
  color: var(--color-dark-grey);
  background-color: var(--color-black3);
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 50%), 0 1px 0 rgb(255 255 255 / 10%);
  text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-dark-black3);
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
  /* 제일 위에 위치*/
}
#navbar.navbar-dark {
  background-color: var(--color-dark-black);
  opacity: 0.5;
}

.navbar_menu {
  display: flex;
  color: var(--color-yellow);
}

.navbar_logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black4);
}

a.logo_text {
  text-decoration: none;
  /* 밑줄 없애기*/
  color: var(--color-dark-grey);
}

.navbar_menu_item {
  border-radius: var(--size-border-radius);
  margin: 0 2px;
  padding: 8px 12px;
  text-transform: uppercase;
  /* 손모양 커서 */
  cursor: pointer;
}

.navbar_menu_item.active {
  color: var(--color-black2);
  background-color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
}
.navbar_menu_item.active:hover {
  color: var(--color-black2);
  background-color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
  box-shadow: none;
  text-shadow: inset 0 3px 30px rgb(0 0 0 / 30%);
}

.navbar_menu_item:hover {
  color: var(--color-orange);
  background-color: #252525;
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 50%), 0 1px 0 rgb(255 255 255 / 10%);
  text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

.navbar_toggle-btn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  top: 12px;
  color: --color-white;
  display: none;
}

/*Home*/
#home {
  padding-top: 120px;
  background: url(img/dark_background.jpg) center/cover no-repeat;
}
.home_avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid var(--color-dark-black2);
}
.home_title,
.home_description {
  color: var(--color-dark-grey);
}

/* About */
.about_majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major_icon {
  width: 170px;
  height: 170px;
  line-height: 260px;
  margin: auto;

  border: 3px solid #74bdfc;
  border-radius: 50%;
}
.major_icon img {
  transition: all var(--animation-duration) ease;
}

.major_icon:hover img {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major_description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 20px 0;
}

.job_description {
  margin: 16px;
  text-align: left;
}

.job_name,
.job_period {
  color: var(--color-dark-white);
}

.job_name {
  font-size: var(--font-small);
}
.job_period {
  font-size: var(--font-micro);
}

/*Skills*/
.skillset {
  display: flex;
  color: var(--color-dark-black2);
  margin: 10px 0;
}
.skillset_title {
  color: var(--color-dark-black2);
}

.skillset_left {
  flex-basis: 60%;
  background-color: cornflowerblue;
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}
.skill_description {
  display: flex;
  justify-content: space-between;
}

.skill_bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill_value {
  height: 3px;
  background-color: var(--color-orange);
  width: 80%;
}

.skillset_right {
  flex-basis: 40%;
  background-color: var(--color-light-grey);
}

.tools {
  background-color: var(--color-blue);
}

.tools,
.etc {
  padding: 20px;
}

/* Work */

.work_categories {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.category_btn {
  border: 2px solid var(--color-dark-black2);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  cursor: pointer;
  color: var(--color-yellow);
  background-color: var(--color-black3);
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 50%), 0 1px 0 rgb(255 255 255 / 10%);
  text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

.category_btn.active {
  color: var(--color-black2);
  background-color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
}
.category_btn:hover {
  color: var(--color-orange);
  background-color: #252525;
}

.category_btn.active:hover {
  color: var(--color-black2);
  background-color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
  cursor: default;
}

.category_btn:hover .category_count {
  opacity: 1;
  top: 0;
}

.category_btn.active .category_count {
  opacity: 1;
  top: 0;
}

.category_count {
  background-color: burlywood;
  border-radius: 50%;
  color: var(--color-light-white);
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration);
}

.work_projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 280px;
  height: 250px;
  background-color: var(--color-light-grey);
  margin: 2px;
}

.project.invisible {
  display: none;
}

.project:hover .project_description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project_img {
  max-width: 100%;
  max-height: 100%;
}

.project_description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all var(--animation-duration);
  transform: translateY(10px);
}

.project_description h3:after {
  width: 25px;
  height: 2px;
  content: "";
  margin: 0 auto;
  margin-top: 8px;
  display: block;
  background-color: white;
}

/*Testimonial*/

.testimonials {
  margin: 40px;
}

.testimonial {
  margin: 32px 0;
  display: flex;
}

.testimonial_avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial_avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial_avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial_speech-bubble {
  padding: 18px;
  background-color: var(--color-black2);
  border-radius: var(--size-border-radius);
}

/* Contact */
#contact {
  background-color: var(--color-black3);
}

.contact_title,
.contact_email,
.contact_rights {
  color: var(--color-black2);
}

.contact_title {
  margin: 16px 0;
}
.contact_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  font-size: var(--font-large);
  color: var(--color-black2);
  margin: 12px 0;
  transition: all var(--animation-duration) ease;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px;
}

.links_image {
  color: var(--color-orange);
  border: 2px solid var(--color-dark-black2);
  border-radius: 50%;
  padding: 8px 12px;
  cursor: pointer;
  background-color: var(--color-dark-black2);
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 50%), 0 1px 0 rgb(255 255 255 / 10%);
  text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

.blog:hover .links_image {
  background-color: var(--color-orange);
  opacity: 0.7;
}
.contact_description {
  font-size: var(--font-micro);
  color: black;
  position: absolute;
  top: -8px;
  left: 5px;
  opacity: 0;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog:hover .contact_description {
  opacity: 0.8;
}

/* Arrow up*/
.arrow-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  background-color: var(--color-pink);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}
/* For below 768px scrren width */

@media screen and (max-width: 768px) {
  .navbar_toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar_menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about_majors {
    flex-direction: column;
  }
  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial_avatar {
    width: 80px;
    height: 80px;
  }
}
