@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* Global */

:root {
  /* Color */
  --color-white: #ddd;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #dddddd;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #ffcc00;
  --color-orange: #feb546;
  --color-black2: #222222;
  --color-black3: #333333;
  --color-black4: #444444;
  --color-dark-black: #2b2b2b;
  --color-dark-black2: #212121;
  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 5px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags*/
* {
  box-sizing: border-box;
}
/* Typography */

.section {
  text-align: center;
  margin: auto;
  padding: 20px;
  padding-top: 80px;
  background: rgb(65, 67, 69);
  background: radial-gradient(
    circle,
    rgba(65, 67, 69, 1) 0%,
    rgba(33, 35, 36, 1) 100%
  );

  color: var(--color-dark-grey);
}

.section_container {
  border-radius: 15px;
  max-width: 1200px;
  margin: 20px auto;
  width: 90%;
}

body {
  font-family: "Roboto Mono", monospace;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  cursor: default;
  background-color: var(--color-black3);
  margin: 0;
  text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
  box-shadow: inset 0 3px 30px rgb(0 0 0 / 30%);
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-dark-grey);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-grey);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
  margin: 4px 0;
}

a {
  text-decoration: none;
  /* 밑줄 없애기*/
  color: var(--color-yellow);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border: 2px solid var(--color-dark-black2);
  border-radius: var(--size-border-radius);
  padding: 8px 12px;
  cursor: pointer;
  color: var(--color-dark-grey);
  background-color: var(--color-black3);
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 50%), 0 1px 0 rgb(255 255 255 / 10%);
  text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

.container {
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #3a3a3a 0%, #1e1e1e 100%);
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  color: var(--color-dark-black3);
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
  /* 제일 위에 위치*/
}

#navbar.navbar-dark {
  background-color: var(--color-dark-black);
  justify-content: space-between;
  opacity: 0.9;
}
.logo_text {
  display: none;
}
#navbar.navbar-dark .logo_text {
  display: inline;
}

.navbar_menu {
  display: none;
}
#navbar.navbar-dark .navbar_menu {
  display: flex;
  color: var(--color-yellow);
}

.navbar_logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black4);
}

#navbar.navbar-dark .navbar_logo img {
  margin: 0px;
  width: 50px;
  animation: none;
  transform: translateY(10px);
}

.navbar_logo img {
  width: 70px;
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite alternate;
}

a.logo_text {
  text-decoration: none;
  /* 밑줄 없애기*/
  color: #3d352f;
}

a.logo_text {
  line-height: 50px;
  -webkit-font-smoothing: antialiased;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    to right,
    var(--color-dark-grey) 0,
    black 10%,
    var(--color-dark-grey) 20%
  );
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 10s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

.navbar_menu_item {
  border-radius: var(--size-border-radius);
  margin: 0 2px;
  padding: 8px 12px;
  text-transform: uppercase;
  /* 손모양 커서 */
  cursor: pointer;
}

.navbar_menu_item.active {
  color: var(--color-black2);
  background-color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
}

.navbar_menu_item.active:hover {
  color: var(--color-black2);
  background-color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
  box-shadow: none;
  text-shadow: inset 0 3px 30px rgb(0 0 0 / 30%);
}

.navbar_menu_item:hover {
  color: var(--color-orange);
  background-color: #252525;
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 50%), 0 1px 0 rgb(255 255 255 / 10%);
  text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

.navbar_toggle-btn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  top: 12px;
  color: --color-white;
  display: none;
}

/*Home*/
#home {
  padding-top: 120px;
  width: 100vw;
  height: 100vh;
  background: url(img/moon.jpeg) center/cover no-repeat fixed;
}

.home_avatar {
  width: 250px;
  height: 250px;
  border-radius: 15%;
  border: 5px solid #cd4a4a;
  box-shadow: 0 5px 15px 0px rgb(0 0 0 / 60%);
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite alternate;
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgb(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.home_title {
  padding: 100px;
  padding-bottom: 0px;
  height: 150px;
  font-weight: 700;
  font-family: Arial;
  animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 3;
    transform: none;
  }
}
.home_description {
  margin-top: 100px;
  color: var(--color-yellow);
  opacity: 0;
}
.home_description.show {
  opacity: 1;
  animation: fadeIn 2s ease-in-out;
}
svg {
  display: inline;
  font: var(--font-large) "Montserrat";
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #4d163d;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #bd0034;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #bd0034;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #fdb731;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}

.home_contact {
  color: var(--color-yellow);
  display: none;
}

.home_contact:hover {
  color: var(--color-orange);
  background-color: #252525;
}

#home .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 50px;
  height: 40%;
  background: transparent;
}
#home button {
  width: 600px;
  height: 100px;
  margin: 0 50px;
  background-color: #bec3c7;
  border: 10px solid #cd4a4a;
}

.home_blog h1 {
  font: bold --font-large "Signika", sans-serif;
  margin: 0;
  user-select: none;
}

.home_blog h1 span {
  display: inline-block;
  animation: float2 0.2s ease-in-out infinite;
}

.home_blog h1 span:nth-child(4n) {
  color: hsl(50, 75%, 55%);
  text-shadow: 1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%),
    3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%);
}
.home_blog h1 span:nth-child(4n-1) {
  color: hsl(135, 35%, 55%);
  text-shadow: 1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%),
    3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%);
}
.home_blog h1 span:nth-child(4n-2) {
  color: hsl(155, 35%, 60%);
  text-shadow: 1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%),
    3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%);
}
.home_blog h1 span:nth-child(4n-3) {
  color: hsl(30, 65%, 60%);
  text-shadow: 1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%),
    3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%);
}

h1 span:nth-child(2) {
  animation-delay: 0.05s;
}
h1 span:nth-child(3) {
  animation-delay: 0.1s;
}
h1 span:nth-child(4) {
  animation-delay: 0.15s;
}
h1 span:nth-child(5) {
  animation-delay: 0.2s;
}
h1 span:nth-child(6) {
  animation-delay: 0.25s;
}
h1 span:nth-child(7) {
  animation-delay: 0.3s;
}
h1 span:nth-child(8) {
  animation-delay: 0.35s;
}
h1 span:nth-child(9) {
  animation-delay: 0.4s;
}
h1 span:nth-child(10) {
  animation-delay: 0.45s;
}
h1 span:nth-child(11) {
  animation-delay: 0.5s;
}
h1 span:nth-child(12) {
  animation-delay: 0.55s;
}
h1 span:nth-child(13) {
  animation-delay: 0.6s;
}
h1 span:nth-child(14) {
  animation-delay: 0.65s;
}

.porfile_word {
  color: var(--color-yellow);
}
.arrow_down {
  animation: floatt 2s ease-in-out infinite alternate;
  color: var(--color-yellow);
}
@keyframes floatt {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
/* About */

#about {
  opacity: 0;
  padding: 0px;
}
#about.show-ani {
  opacity: 1;
  animation: fadeIn2 5s ease-in;
}
#about.show {
  display: block;
  opacity: 1;
}
@keyframes fadeIn2 {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 3;
    transform: none;
  }
}
@keyframes fadeIn3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 3;
    transform: none;
  }
}
.about_container {
  padding: 40px;
  margin: 0px;
  border-radius: 15px;
  padding-top: 80px;
  width: 100%;
}

.about_majors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px 0;
}

.sub_major {
  display: flex;
  justify-content: space-between;
  padding: 40px 120px;
  padding-bottom: 0px;
}
.major_icon {
  width: 170px;
  height: 170px;
  line-height: 235px;
  margin: auto;

  border: 3px solid var(--color-yellow);
  border-radius: 50%;
  box-shadow: 0 5px 15px 0px rgb(0 0 0 / 60%);
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite alternate;
}
.major_icon i {
  color: var(--color-yellow);
  font-size: 100px;
  transition: all var(--animation-duration) ease;
}

.major_icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major_title {
  color: #e0daae;
}

.major_description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0px 0;
  line-height: 15px;
}

.job i {
  transform: translateY(20px);
  font-size: 60px;
}

.job_description {
  margin: 16px;
  text-align: left;
}

.job_name {
  color: var(--color-dark-white);
}
.job_period {
  color: var(--color-white);
  opacity: 0.3;
}

.job_what {
  font-weight: var(--weight-semi-bold);
  color: #778492;
}
.job_name {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
}
.job_period {
  font-size: var(--font-micro);
}

.job_img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid white;
  transform: translateY(10px);
}

/*Skills*/
#skills {
  opacity: 0;
}
#skills.show-ani {
  opacity: 1;
  animation: fadeIn2 5s ease-in;
}
#skills.show {
  display: block;
  opacity: 1;
}

.skillset {
  display: flex;
  color: var(--color-white);
  margin: 50px 0;
  font-size: var(--font-small);
  text-shadow: none;
  font-weight: var(--weight-semi-bold);
}

.skill_container {
  padding: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.skillset_title {
  color: var(--color-yellow);
  text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

.skillset_left {
  flex-basis: 60%;
  background-color: #252525;
  padding: 20px 40px;
  margin-right: 10px;
}

.skill {
  margin-bottom: 32px;
}
.skill_description {
  display: flex;
  justify-content: space-between;
}

.skill_bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill_value {
  height: 3px;
  background-color: var(--color-dark-pink);
  width: 80%;
}

.skillset_right {
  flex-basis: 40%;
}

.certificate {
  background-color: #252525;
  margin-top: 20px;
}

.test_span {
  background-color: orange;
  color: var(--color-black2);
  padding: 10px;
  width: 100%;
}

.test_li {
  padding: 10px;
  border-radius: 5px;
  background-color: orange;
  display: flex;
  align-items: center;
}
.environment_img {
  width: 50px;

  border-radius: 50%;
  border: 5px solid #252525;
}
.environments .right_list {
  list-style: none;
  text-align: center;
  margin-left: 0px;
}
.right_list {
  list-style: inside;
  text-align: left;
  margin-left: 20px;
  padding: 20px;
  background-color: #171b21;
  margin: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.right_list li {
  margin: 20px;
}

.environments,
.certificate {
  padding: 0px;
  background-color: var(--color-black4);
  border-radius: 50%;
}

/* Work */
#work {
  opacity: 0;
}

#work.show-ani {
  opacity: 1;
  animation: fadeIn2 5s ease-in;
}
#work.show {
  opacity: 1;
}
.work_categories {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.category_btn {
  position: relative;
  border: 2px solid var(--color-dark-black2);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  cursor: pointer;
  color: var(--color-yellow);
  background-color: var(--color-black3);
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 50%), 0 1px 0 rgb(255 255 255 / 10%);
  text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

.category_btn.selected {
  color: var(--color-black2);
  background-color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
}
.category_btn:hover {
  color: var(--color-orange);
  background-color: #252525;
}

.category_btn.selected:hover {
  color: var(--color-black2);
  background-color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
  cursor: default;
}

.category_btn:hover .category_count {
  opacity: 1;
  top: 7px;
}

.category_btn.selected .category_count {
  opacity: 1;
  top: 7px;
}

.category_count {
  background-color: burlywood;
  border-radius: 50%;
  color: var(--color-light-white);
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: absolute;
  top: -10px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration);
}

.work_projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work_projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 280px;
  height: 250px;
  background-color: transparent;
  margin: 2px;
}

.project.invisible {
  display: none;
}

.project:hover .project_description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project_img {
  max-width: 70%;
  max-height: 70%;
}

.project_description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all var(--animation-duration);
  transform: translateY(10px);
}

.project_description h3:after {
  width: 25px;
  height: 2px;
  content: "";
  margin: 0 auto;
  /*transform: translateX(-50%);*/
  margin-top: 8px;
  display: block;
  background-color: white;
}

/*Testimonial*/

#testimonials {
  display: none;
  opacity: 0;
}
#testimonials.show-ani {
  opacity: 1;
  animation: fadeIn2 5s ease-in;
}
#testimonials.show {
  opacity: 1;
}
.testimonials {
  margin: 40px;
}

.testimonial {
  margin: 32px 0;
  display: flex;
}

.testimonial_avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial_avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial_avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial_speech-bubble {
  padding: 18px;
  background-color: var(--color-black2);
  border-radius: var(--size-border-radius);
}
/*git*/
#git {
  opacity: 0;
}
#git.show-ani {
  opacity: 1;
  animation: fadeIn3 5s ease-in;
}
#git.show {
  opacity: 1;
}
.calendar {
  font-family: "Roboto Mono", monospace;
}

#feed {
  height: 500px;
  width: 80%;
  margin: 20px auto;
}
/* Contact */
#contact {
  padding-top: 10px;
  text-shadow: none;
  background: transparent;
}

#contact section {
}

.contact_title,
.contact_email,
.contact_rights {
  color: var(--color-dark-white);
}

.contact_title {
  color: white;
  margin: 16px 0;
}
.contact_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  font-size: var(--font-large);
  color: var(--color-black2);
  margin: 12px 0;
  transition: all var(--animation-duration) ease;
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid var(--color-dark-black2);
  border-radius: 10px;
  background-color: #252525;
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 50%), 0 1px 0 rgb(255 255 255 / 10%);
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0px;

  transform: translateY(5px);
}

.links_image {
  width: 80px;
  padding: 8px 12px;
  cursor: pointer;
  text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

.links_image.naver {
  width: 90px;
  transform: translateY(3px);
}

.blog:hover .links_image {
  background-color: var(--color-orange);
  opacity: 0.1;
}
.contact_description {
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);
  color: white;
  position: absolute;
  top: -8px;
  left: 5px;
  opacity: 0;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all var(--animation-duration) ease-in;
  transform: translateY(10px);
}

.blog:hover .contact_description {
  opacity: 0.8;
  transform: translateY(0px);
}
.contact_email {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.contact_rights {
  opacity: 0.8;
}

/* Arrow up*/
.arrow-up {
  border: 1px solid #252525;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #29323c,
    #485563
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #29323c,
    #485563
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--color-dark-black);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/*footer*/

.footer {
  padding: 10px;
  background-color: var(--color-orange);
}
.contact_rights {
  font-size: var(--font-regular);
  text-align: center;
  margin: 0px auto;
  color: #252525;
}
/* For below 768px scrren width */
@media (min-width: 370px) and (max-width: 756px) {
  .home_title {
    padding-top: 100px;
  }
  .home_contents {
    padding-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  @keyframes fadeIn2 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  #about.show-ani {
    opacity: 1;
    animation: fadeIn2 2s ease-in;
  }
  #skills.show-ani {
    opacity: 1;
    animation: fadeIn2 2s ease-in;
  }
  #work.show-ani {
    opacity: 1;
    animation: fadeIn2 2s ease-in;
  }
  #git.show-ani {
    opacity: 1;
    animation: fadeIn3 2s ease-in;
  }

  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  #home {
    padding-top: 120px;
    width: 100vw;
    height: 100vh;
    background: url(img/moon.jpeg) center/cover no-repeat;
  }

  .navbar_toggle-btn {
    display: block;
    right: 16px;
    font-size: 12px;
    top: 10px;
    display: none;
  }

  .navbar_logo img {
    margin-top: 30px;
    width: 70px;

    transform: translatey(0px);
    animation: float 4s ease-in-out infinite alternate;
    background-color: transparent;
  }

  #navbar {
    flex-direction: column;
    align-items: center;
    padding: 5px;
    padding-bottom: 0px;
    padding-left: 10px;
    background-color: transparent;
  }
  .logo_text {
    display: none;
  }

  img.home_avatar {
    width: 120px;
    height: 120px;
  }
  #navbar.navbar-dark {
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    padding-bottom: 0px;
    padding-left: 10px;
    background-color: transparent;
    background-color: var(--color-dark-black);
    opacity: 0.9;
  }
  #navbar.navbar-dark .logo_text {
    display: inline;
  }

  #navbar.navbar-dark .navbar_toggle-btn {
    display: inline;
  }
  #navbar.navbar-dark .navbar_logo img {
    margin: 0px;
    width: 20px;
    animation: none;
    transform: translateY(5px);
  }

  #navbar.navbar-dark .navbar_menu {
    display: none;
  }
  #navbar.navbar-dark .navbar_menu.open {
    display: block;
  }

  .navbar_menu_item.active {
    color: var(--color-yellow);
    background-color: transparent;
    border: 0px;
  }
  .navbar_menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar_menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }
  .section_container {
    width: 95%;
  }

  svg {
    display: block;

    font: 80px "Montserrat";
    margin: 0 auto;
  }

  .home_title {
    padding: 0px;
    height: 40px;
    margin-top: 30px;
  }
  .home_contents {
    margin-top: 10px;
  }
  .home_description {
    margin: 0px;
    margin-bottom: 20px;
  }
  .text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
  }
  #home .container {
    margin: 10px;
    flex-direction: column;
  }

  #home .home_blog {
    max-width: 80%;
    max-height: 80px;
    margin-bottom: 20px;
  }

  .about_majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .major {
    margin-bottom: 30px;
  }

  .main_major major {
    margin-bottom: 0px;
  }

  .sub_major {
    flex-direction: column;
    align-items: center;
  }
  .major_icon {
    width: 110px;
    height: 110px;
    line-height: 105px;
  }
  .major_icon i {
    transform: translateY(20px);
    font-size: 60px;
  }

  .major_description {
    font-size: var(--font-micro);
  }
  .skillset {
    flex-direction: column;
  }
  .skillset_left {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .category_btn {
    width: 80%;
    margin: 2px;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial_avatar {
    width: 130px;
    height: 130px;
  }
  /*
  .testimonial:nth-child(even) {
    flex-direction: column-reverse;
  }
  */
  .testimonial_speech-bubble {
    order: 1;
  }
  .testimonial_avatar:nth-child(even) {
    margin-left: 0px;
  }
  .testimonial_avatar:nth-child(odd) {
    margin-right: 0px;
  }

  .arrow-up {
    bottom: 16px;
    right: 16px;
    width: 50px;
    height: 50px;
    font-size: 25px;
  }
}
