/* Global */

:root {
  /* Color */
  --color-white: #ddd;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #dddddd;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #ffcc00;
  --color-orange: #feb546;
  --color-black2: #222222;
  --color-black3: #333333;
  --color-black4: #444444;
  --color-dark-black: #2b2b2b;
  --color-dark-black2: #212121;
  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 5px;

  /* Annimation */
  --animation-duration: 300ms;
}
/* Typography */

.section{
    padding: 50px;
    text-align: center;
    max-width: 978px;
    margin: 20px auto;
    border-radius: 15px;
    padding : 10px;
    width:80%;
    background-color: var(--color-black4);
    color: var(--color-dark-grey);
}

body {
  font-family: "Roboto Mono", monospace;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  cursor: default;
  background-color: var(--color-black3);
  margin: 0;
  text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
  box-shadow: inset 0 3px 30px rgb(0 0 0 / 30%);
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-dark-grey);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-grey);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
  margin: 4px 0;
}

a {
  text-decoration: none;
  /* 밑줄 없애기*/
  color: var(--color-yellow);
}

ul {
  list-style: none;
  padding-left: 0;
}
button {
  border: 2px solid var(--color-dark-black2);
  border-radius: var(--size-border-radius);
  padding : 8px 12px;
  cursor: pointer;
  color: var(--color-dark-grey);
  background-color: var(--color-black3);
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 50%), 0 1px 0 rgb(255 255 255 / 10%);
  text-shadow: 0 1px 3px rgb(0 0 0 / 50%);(--size-border-radius);
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-dark-black);
  align-items: center;
  color: var(--color-dark-black3);
  padding: 16px;
}

.navbar_menu {
  display: flex;
  color: var(--color-yellow);
}

.navbar_logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black3);
}

a.logo_text {
  text-decoration: none;
  /* 밑줄 없애기*/
  color: var(--color-dark-grey);
}

.navbar_menu_item {
  border-radius: var(--size-border-radius);
  margin: 0 2px;
  padding: 8px 12px;
  text-transform: uppercase;
  /* 손모양 커서 */
  cursor: pointer;
}

.navbar_menu_item.active {
  color: var(--color-black2);
  background-color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
}
.navbar_menu_item.active:hover {
  color: var(--color-black2);
  background-color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
  box-shadow: none;
  text-shadow: inset 0 3px 30px rgb(0 0 0 / 30%);
}

.navbar_menu_item:hover {
  color: var(--color-orange);
  background-color: #252525;
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 50%), 0 1px 0 rgb(255 255 255 / 10%);
  text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

/*Home*/

.home_avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid var(--color-dark-black2);
}
.home_title,
.home_description {
  color: var(--color-dark-grey);
}

/* About */
.about_majors{
    display: flex;
    justify-content : space-between;
    margin: 80px 0
}

.major_icon{
    width: 170px;
    height: 170px;
    line-height: 260px;
    margin: auto;
    
    
    border: 3px solid #74bdfc;
    border-radius: 50%;
    
}
.major_icon img{
    transition: all var(--animation-duration) ease;
}

.major_icon:hover img{
    color: var(--color-pink);
    transform: rotate(-30deg) scale(1.1)
}

.major_description{
    font-size: var(--font-small);
}

.job {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px 0;
}

.job_description{
    margin: 16px;
    text-align: left;
}


.job_name, .job_period{
    color: var(--color-dark-white)
}

.job_name{
    font-size: var(--font-small);
}
.job_period{
    font-size: var(--font-micro);
}